{% extends "base.html" %} {% block content %}

<p>【①現在登録中の商品一覧】</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">単価</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items%}
    <tr>
      <th scope="row">{{item.item_id}}</th>
      <td>{{item.item_name}}</td>
      <td>{{item.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />
<br />

<p>【②商品新規登録】</p>

<form action="/add_item" method="post">
  <div class="row mb-3">
    <label for="input-item-id" class="col-sm-2 col-form-label">商品ID</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-item-id"
        name="input-item-id"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-item-name" class="col-sm-2 col-form-label">商品名</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-item-name"
        name="input-item-name"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-price" class="col-sm-2 col-form-label">単価</label>
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="input-price"
        name="input-price"
        value="100"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">登録</button>
</form>

<br />
<br />

<p>【③商品削除】</p>

<form action="/delete_item" method="post">
  <div class="row mb-3">
    <label for="input-item-id" class="col-sm-2 col-form-label">商品ID</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-item-id"
        name="input-item-id"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">商品削除</button>
</form>

<br />
<br />

<p>【④商品更新】</p>
<form action="/update_item" method="post">
  <div class="row mb-3">
    <label for="input-item-id" class="col-sm-2 col-form-label"
      >更新する商品ID</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-item-id"
        name="input-item-id"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-item-name" class="col-sm-2 col-form-label"
      >更新後の商品名</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-item-name"
        name="input-item-name"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-item-price" class="col-sm-2 col-form-label"
      >更新後の単価</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-item-price"
        name="input-item-price"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">商品更新</button>
</form>

<br />
<br />

<p>【④商品名で抽出】</p>
<form action="/select_item_name" method="post">
  <div class="row mb-3">
    <label for="input-item-name" class="col-sm-2 col-form-label">商品名</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-item-name"
        name="input-item-name"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">商品名で抽出</button>
</form>

<br />
<br />

<p>【⑥単価で並べ替え】</p>
<form action="/sorting_item" method="post">
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">昇順or降順</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="order-type"
          id="ascending"
          value="ascending"
          checked
        />
        <label class="form-check-label" for="ascending"> 昇順 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="order-type"
          id="descending"
          value="descending"
        />
        <label class="form-check-label" for="descending"> 降順 </label>
      </div>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">並べ替え</button>
</form>

<br />
<br />

{% endblock %}
