{% extends "base.html" %} {% block content %}

<p>【①購入情報一覧】</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">購入ID</th>
      <th scope="col">顧客ID</th>
      <th scope="col">顧客名</th>
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">数量</th>
      <th scope="col">日付</th>
    </tr>
  </thead>
  <tbody>
    {% for joined_purchase_detail in joined_purchase_details %}
    <tr>
      <th scope="row">{{joined_purchase_detail.Purchase.purchase_id}}</th>
      <td>{{joined_purchase_detail.Customer.customer_id}}</td>
      <td>{{joined_purchase_detail.Customer.customer_name}}</td>
      <td>{{joined_purchase_detail.Purchase_detail.item_id}}</td>
      <td>{{joined_purchase_detail.Item.item_name}}</td>
      <td>{{joined_purchase_detail.Purchase_detail.quantity}}</td>
      <td>{{joined_purchase_detail.Purchase.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />
<br />

<p>【②検索】</p>

<form action="/search_purchase" method="post">
  <div class="row mb-3">
    <label for="input-item-name" class="col-sm-2 col-form-label">商品名</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="input-item-name"
        name="input-item-name"
      />
    </div>
  </div>
  <br />

  <div class="row mb-3">
    <label for="input-customer-name" class="col-sm-2 col-form-label"
      >顧客名</label
    >
    <div class="col-sm-10">
      <select
        class="form-control"
        id="input-customer-name"
        name="input-customer-name"
      >
        <option value=""></option>
        <!-- 選択肢内に空欄 -->
        {% for customer in customers %}
        <option value="{{customer.customer_name}}">
          {{customer.customer_name}}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <br />
  <!-- 購入日 -->
  <div class="row mb-3">
    <label for="input-date" class="col-sm-2 col-form-label">購入日</label>
    <div class="col-sm-10">
      <input
        type="date"
        class="form-control"
        id="input-date"
        name="input-date"
      />
    </div>
  </div>
  <br />
  <!-- 性別 -->
  <!-- <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">性別</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="input-gender3"
          id="gender-male3"
          value="男性"
        />
        <label class="form-check-label" for="gender-male3"> 男性 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="input-gender3"
          id="gender-female3"
          value="女性"
        />
        <label class="form-check-label" for="gender-female3"> 女性 </label>
      </div>
    </div>
  </fieldset> -->

  <button type="submit" class="btn btn-primary">検索</button>
</form>

<br />
<br />
<p>【③統計】</p>

<form action="/count_customers" method="post">
  <button type="submit" class="btn btn-primary">１．総顧客数</button>
</form>
<br />
<form action="/count_quantity" method="post">
  <button type="submit" class="btn btn-primary">２．総販売数量</button>
</form>
<br />
<form action="/total_sales" method="post">
  <button type="submit" class="btn btn-primary">３．総売上</button>
</form>
<br />
<form action="/ranking_items" method="post">
  <button type="submit" class="btn btn-primary">
    ４．販売数量商品別ランキング
  </button>
</form>
<br />
<br />

{% endblock %}
